
body {
            background: #FF5733;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
            margin: 0;
            font-family: Comic Sans MS;
        }
