h1 {
  font-size: 10px ;
}

body {
            background: blue;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
