body {
            background-colour: #ff00d3;
            height: 5px;
            font-family: Comic Sans MS;
            
        }
h1 {
            color: #16ff00;
             }
h2 {color: #16ff00;}
