body {
            background-colour: #ff00d3;
            display: flex;
            height: 5px;
            margin: 0;
            font-family: Comic Sans MS;
            text-colour: #16ff00;
        }
